<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Virheellinen syöte</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h4>Pahoittelumme! Antamasi tieto ei kelvannut palvelimelle, palaa listaukseen ja kokeile uudelleen.</h4>
        <h4>(Text field, kurssi and aihe must be not empty)</h4>
        <br/>
        <a href="/">Takaisin listaukseen</a>
    </body>
</html>
